# Dépendances Node.js (Frontend)
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# Dépendances et Environnements Virtuels Python (Backend)
backend/pfa/venv/
backend/pfa/.venv/
backend/pfa/__pycache__/
*.pyc

# Base de données
# Optionnel: Décommentez la ligne ci-dessous si vous ne voulez pas envoyer votre base de données locale sur GitHub
# backend/pfa/db.sqlite3

# Variables d'environnement (Sécurité)
.env
.env.local
*.env

# Fichiers système
.DS_Store
Thumbs.db
